/* colours wanted: black, turqouise, grey */

:root {
    --main-color: black;
    --secondary-color: rgb(41, 40, 40); 
    --third-color: turquoise; 
}

*{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    margin: 1;
    padding: 1;
}

body {
    background-color: rgb(41, 40, 40);;
}
/* navigation section */

.navheader {
    justify-content: center;
    display: flex;
    top: 0;
    list-style: none;
    position: sticky; 
    background-color: rgb(41, 40, 40); 
}

.navheader ul {
    list-style: none;
    display: flex;
}

.navheader ul li {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    display: flex;
    margin: 20px 12px;
    font-weight: bolder;
    font-size: 2rem;
    align-items: center; 
    text-decoration: none;
    padding: 2px 20px;
    color: whitesmoke;
}

.navheader ul li a {
    padding: 5px 5px;
    color: whitesmoke;
    text-decoration: none;   
}

.navheader ul li a:hover {
    background-color: rgb(41, 40, 40);
    color: turquoise;
    box-shadow: 0 0 0 whitesmoke;
    border: 0.1px solid;
}

#homepage {
    flex-direction: column;
    justify-content: center;
    height: 1600px;
    align-items: center;
    display: flex;
}


#homepage::before{
    position: flex;
    content:"";
    background: url('./ASSETS/me.jpg') center center/cover no-repeat;
    height: 1300px;
    width: 1000px;
    opacity: 10;
}

.main {
    display: flex;
    border: 2px solid white;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 50px;
    margin: 1 1 1;
}

/* about me section */

.headings {
    font-size: 5rem;
    text-align: center;
    margin: 20px 0px; 
    background-color: white;
    color: black;
}

section div h2 {
    display: flex;
    flex-direction: column;
    color: turquoise;
    font-size: 30px;
    text-align: center;
    text-shadow: 0 0 0 seashell;
}

#aboutme {
display: flex;
flex-direction: column;
color: white;
font-size: 25px;
margin: 10px 10px;
word-spacing: 10px;
}

/* portfolio section */

#portfolios {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    margin: 20px 20px;
    padding: 10px 10px;
    border-spacing: 10px;
}
/* contact me section */

/* media screen section */