/* colours wanted: black, turqouise, grey */

*{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    margin: 1;
    padding: 1;
}

body {
    background-color: black;
    color: white;
}
/* navigation section */

.navheader {
    justify-content: center;
    display: flex;
    top: 0;
    list-style: none;
    position: sticky; 
    background-color: rgb(41, 40, 40); 
}

.navheader ul {
    list-style: none;
    display: flex;
    margin: 10px 5px 
}

.navheader ul li {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    display: flex;
    margin: 10px 10px;
    font-weight: bolder;
    font-size: 2rem;
    align-items: center; 
    text-decoration: none;
}

/* about me section */

/* portfolio section */

/* contact me section */

/* media screen section */